<div class="container">
  {{#user-forms/edit isDisabled=false user=model}}
    {{x-button/success 'Save changes' click=(action "saveChanges")}} 
    {{#link-to 'authenticated.user' model}}
      {{x-button/warning 'Cancel'}}
    {{/link-to}}
  {{/user-forms/edit}}
</div>
{{outlet}}