<div class="container">
  {{#user-forms/edit isDisabled=true user=model}}
    {{#link-to 'authenticated.user.edit' model}}
      {{x-button/success 'Edit'}}
    {{/link-to}}
  {{/user-forms/edit}}
</div>
{{outlet}}