<h1 class="text-center">There has been an error</h1>
<h2 class="text-center">We are sorry for all the inconvenience caused</h2>
<h3 class="text-center">
  You may want to go back to
  {{#link-to 'index'}}home page{{/link-to}}
</h3>