<div>
  <h2 class="text-center">Polls</h2>
  <div class="container">
    <ul class="list-group">
      {{#each model as |poll|}}
        {{#link-to 'polls' poll}}
        <li class="list-group-item">{{poll.title}}</li>
        {{/link-to}}
      {{/each}}
    </ul>
  </div>
</div>